[2021-01-10 10:15] nosaydomore opened #1 "could you provide model weight of action recognition that trained on Kinectics 700"
hi, thanks for your great work.
Could you provide model weight of action recognition that trained on Kinectics 700 dataset?

[2021-01-11 05:10] hiyyg opened #2 "global soft pooling?"
Can soft pool be used as global soft pooling which can replace global average pooling?

[2021-01-11 08:59] shuaizzZ commented on #2
and AdaptivePool？

[2021-01-11 09:11] shuaizzZ opened #3 "afterimages in the video"
Why are there obvious afterimages in the video processing results?

[2021-01-11 09:26] dlyldxwl opened #4 "about some implementation issues"
Thank you for your sharing~
However I have some doubts,
1. this code represents the weight value is calculation by using channel dimension on the same spatial position, rather than applying spatial region?
https://github.com/alexandrosstergiou/SoftPool/blob/7cd12c72b7096bc70d136e6b001eb2c338461bb2/pytorch/SoftPool/idea.py#L181

2. for the last pooling layer, global avg pooling is better than softp

[2021-01-11 10:46] peterzpy opened #5 "The speed between sum and average"
I found an interesting result in your paper. The speed of sum operation is slower compared with the average operation by a huge margin. Could you please explain the reason for this phenomenon? Thank you!

[2021-01-12 11:12] alexandrosstergiou commented on #1
Hi @nosaydomore,

The weights for the action-classification part will be released with upcoming code updates. These updates will also include future changes in paper/code when we have a finalised version available.
I will leave this issue open until then.

Best,
Alex

[2021-01-12 11:34] alexandrosstergiou commented on #2
@hiyyg We have not tested if SoftPool can be used as a Global Pooling operation. You could try this however yourself as the results would definitely be interesting! In the paper, we mainly focused on sub-sampling activations along spatial/spatio-temporal dimensions. Activation vectorisation through Global pooling operations is a bit beyond that scope.

@shuaizzZ You can do adaptive pooling operati

[2021-01-12 11:34] #2 closed, assigned to nobody

[2021-01-12 11:41] alexandrosstergiou commented on #3
@shuaizzZ Afterimages are produced because pooling is applied spatio-temporally, so multiple frames are fused together to single frames. This is present with every type of pooling method (e.g. average, max etc.) that is not tailored to handle spatio-temporal data. However, in contrast to Average and Maximum pooling, we noticed this effect was minimized with SoftPool (more examples shown in the sup

[2021-01-12 11:41] #3 closed, assigned to nobody

[2021-01-12 12:04] alexandrosstergiou commented on #4
Hi @dlyldxwl,

Thank you for pointing (1.) out. The non-native CUDA functions have not been updated for a while. I'll include this in the latest commit. Do note that you are encouraged to use the CUDA-native versions [CUDA_SOFTPOOLxd](https://github.com/alexandrosstergiou/SoftPool/blob/7cd12c72b7096bc70d136e6b001eb2c338461bb2/pytorch/SoftPool/idea.py#L43) for better performance. The in-place alter

[2021-01-12 12:04] #4 closed, assigned to nobody

[2021-01-12 12:06] alexandrosstergiou commented on #5
Hi @peterzpy,

Are you referring to the CUDA-native or the PyTorch in-place versions?

[2021-01-12 12:28] ShuhanChen opened #6 "RuntimeError: input.is_contiguous() INTERNAL ASSERT FAILED"
RuntimeError: input.is_contiguous() INTERNAL ASSERT FAILED at "CUDA/softpool_cuda.cpp":95, please report a bug to PyTorch. input must be a contiguous tensor.
I met the above error, how to solve it? Thanks.

[2021-01-12 13:06] alexandrosstergiou commented on #6
Hi @ShuhanChen,

Contiguous flag errors are related to PyTorch tensors not occupying single blocks of memory. They basically correspond to tensors that are both contiguous in memory and in the same memory order as its indices (an in-depth NumPy explanation can be found [here](https://numpy.org/doc/stable/reference/arrays.ndarray.html#internal-memory-layout-of-an-ndarray)). I have not yet added a c

[2021-01-12 13:07] #6 closed, assigned to nobody

[2021-01-12 14:34] luwanglin opened #7 "nvcc fatal : Unsupported gpu architecture 'compute_86'"
Hello, I reported the following error when installing the 3090 graphics card
`FAILED: /data/home/lwl/GaitSet_experiment/SoftPool-master/pytorch/build/temp.linux-x86_64-3.8/CUDA/softpool_cuda_kernel.o
/usr/local/cuda/bin/nvcc -I/data/home/lwl/anaconda3/envs/exp38/lib/python3.8/site-packages/torch/include -I/data/home/lwl/anaconda3/envs/exp38/lib/python3.8/site-packages/torch/include/torch/csrc/api/

[2021-01-12 14:51] alexandrosstergiou commented on #7
Hi @luwanglin,

From a quick search, this looks like a CUDA version related issue [`as in here`](https://github.com/microsoft/DeepSpeed/issues/607#issuecomment-755822392). Are you using CUDA 11.2 or an older version?

Best,
Alex

[2021-01-13 03:10] peterzpy commented on #5
I mean the results reported in the table1 of your paper. I get no idea which version you have reported. Besides, why the baseline of ResNet50 has just 72.9% in term of accuracy? The standard ResNet50 should have got an accuracy of about 76%+ on ImageNet. Looking forward to your reply, thx!

[2021-01-13 03:17] PJJie opened #8 "about import softpool_cuda"
Import softtool_ cuda error，his package is softpool in CUDA folder_ cuda.cpp？
![image](https://user-images.githubusercontent.com/58473923/104402168-abbeec80-5590-11eb-8a18-de5619a50968.png)

[2021-01-13 05:58] lxtGH opened #9 "Comparison with LIP"
Any comparison with LIP on several benchmarks?

[2021-01-13 08:55] alexandrosstergiou commented on #5
The speeds for sum and average pooling are based on the current Tensorflow/PyTorch implementations available. While there are native implementations for average pooling in both libraries, there aren't any for sum pooling. Therefore, we created our own. In general, we considered two different approaches:
- Option 1 was to use `conv_xd` with kernel values of 1.
- Option 2 was to use `avg_pool` and t

[2021-01-13 08:59] alexandrosstergiou commented on #8
Hi @PJJie,

The `softpool_cuda` is the GPU-accelerated package created when you run `make install`. Not being able to import it means that the package has not been created.

Best,
Alex

[2021-01-13 09:01] alexandrosstergiou commented on #9
Hi @lxtGH,

We have comparisons on Imagenet1K for 4 different models and 7 different pooling methods in Table 2 of our paper [[link]](https://arxiv.org/pdf/2101.00440.pdf)

Best,
Alex

[2021-01-13 09:01] #9 closed, assigned to nobody

[2021-01-13 10:38] peterzpy commented on #5
Thanks for your reply. As you said, you half the standard batch size due to the limitation of the GPU memory. But have you reduced the learning rate correspondingly? This method may reduce the performance drop due to batch size change.

[2021-01-13 11:29] alexandrosstergiou commented on #5
We have also tested using a learning rate of 1e-2 as the starting point with overall worse accuracy performance. I believe that such changes in performance based on batch sizes are more attributed to greater problems (e.g. no free lunch theorem) as having mini-batches w/ decreased sizes that are balanced/representational for the target classes is especially challenging for cases as such (1K classe

[2021-01-13 12:24] peterzpy commented on #5
Thanks again, I have no more questions now and you can close this issue. : )

[2021-01-13 12:50] #5 closed, assigned to nobody

[2021-01-14 02:12] heiheihei-ops commented on #8
But it still have some problem to import 'softpool_cuda' after I successfully run 'make install' , waiting for your help, thanks a lot !
![image](https://user-images.githubusercontent.com/66516707/104535136-8db8c100-5650-11eb-86b9-303d72355438.png)

[2021-01-14 02:20] PJJie commented on #8
But it still have some problem to import 'softpool_cuda' after I successfully run 'make install' , waiting for your help, thanks a lot !
![image](https://user-images.githubusercontent.com/58473923/104535949-12580f00-5652-11eb-8e11-b341cd782c2f.png)

[2021-01-14 02:56] PJJie opened #10 "about"
It's OK to change “nn.MaxPool2d(2)“ to “out = soft_pool2d(out, 2)”, but changing ”nn.MaxPool2d((2, 1))” to ”out = soft_pool2d(out, (2,1)) “ or "out = soft_pool2d(out, 2,1)"will result in wrong dimension. What's the reason?

[2021-01-14 03:15] sherlockedlee opened #11 "error: macro "AT_ASSERT" passed 2 arguments, but takes just 1"
The project could not compile successfully with cuda-9.0, what should I do to change the code cuda/softpool_cuda.h?

`#define CHECK_CUDA(x) AT_ASSERT(x.is_cuda(), #x " must be a CUDA tensor")
#define CHECK_CONTIGUOUS(x) AT_ASSERT(x.is_contiguous(), #x " must be a contiguous tensor");`

I already tried TORCH_INTERNAL_ASSERT, it did not work. Thanks alot.

The log is as follows:

`cc1plus: warning:

[2021-01-14 03:34] PJJie opened #12 "find out nan in tensor"
When I replace multiple maxtools with softtools, I find out Nan in tensor

[2021-01-14 08:08] alexandrosstergiou commented on #12
Returned `NaN` values are quite common when using CUDA as it is a low-level language and it does not integrate any internal checks for numerical overflows or underflows. PyTorch itself has a range of functions (e.g. [`torch.nan_to_num()`](https://pytorch.org/docs/master/generated/torch.nan_to_num.html)) to deal with such cases. Simply wrapping your output with these functions should alleviate the

[2021-01-14 08:08] #12 closed, assigned to nobody

[2021-01-14 08:17] alexandrosstergiou commented on #10
This is based on the function definitions (see `lines 160-164` in `pytorch/SoftPool/idea.py` for reference) where the `kernel_size` and `stride` can only be `int` or `tuple` objects.

Also do note that `nn.MaxPool2d` is a `torch.nn.Module` object, equivalently to `SoftPool2d`,
`soft_pool2d` is a function which only makes sense to use during execution time.

Since you're now using `soft_pool()` doe

[2021-01-14 08:19] Cassie-CV opened #13 "cudaCheckError() failed : invalid device function"
hi， ‘make install’ is succeed，but running ‘make test’ occurs some errors.
`cd test-files && python test.py
--- Initial checks for forward ---

cudaCheckError() failed : invalid device function
Segmentation fault (core dumped)
Makefile:9: recipe for target 'test' failed
make: *** [test] Error 139
`

[2021-01-14 08:24] alexandrosstergiou commented on #11
Hi @sherlockedlee,

I have not tested the code with CUDA 9.0, but from the errors that I see this related to different ATen definitions for that version (and the corresponding PyTorch version) to the current ones. This is a bit of a problem in general for packages that extend PyTorch and their compatibility with future or previous versions.

I would simply suggest creating an additional environmen

[2021-01-14 08:24] #11 closed, assigned to nobody

[2021-01-14 08:29] alexandrosstergiou commented on #8
Can you first import `torch` and then import `softpool_cuda` ? Some symbols are dynamically linked to `torch` which if not loaded first `softpool_cuda` will also fail to load.

Best,
Alex

[2021-01-14 08:36] heiheihei-ops commented on #8
you're right, thank you !

[2021-01-14 08:37] alexandrosstergiou commented on #13
This seems like a CUDA or hardware related issue. Can you post some info about:
A. Your system (i.e. GPU model)
B. How you installed:
- CUDA and cuDNN
- PyTorch

Best,
Alex

[2021-01-14 09:40] #10 closed, assigned to nobody

[2021-01-15 02:31] OB-DongSheng opened #14 "When the feature map is 19*19，without the pooling ，how i suppose to get 10*10,thanks..."

[2021-01-15 05:24] #14 closed, assigned to nobody

[2021-01-15 12:42] wuyongfa-genius opened #15 "Why there is no 'padding' in softpool function?"
I wonder why there is no parameter 'padding' in softpool function. When the kernel size can not be divided by input size, what will you do? And what should I modify so that i can use padding.

[2021-01-15 13:42] alexandrosstergiou commented on #15
Hi @wuyongfa-genius

We have not included a padding parameter in the current version as it was not something that required special care code-wise (and thus of high priority).

You can simply call any of the padding `torch.nn` classes [[ref link]](https://pytorch.org/docs/stable/nn.html#padding-layers) or `torch.nn.functional.pad()`[[ref link]](https://pytorch.org/docs/stable/nn.functional.html#tor

[2021-01-15 13:42] #15 closed, assigned to nobody

[2021-01-15 13:54] wuyongfa-genius commented on #15
Thanks for your reply... I was being silly...I noticed you just replaced the odd kernel_size with an even one, such as replace 3 with 2 in maxpool. And in fact it is not something that matters too much. Again thanks for your excellent work.

[2021-01-17 03:11] bimver opened #16 "SoftPool-master/pytorch/CUDA/softpool_cuda.cpp":119, please report a bug to PyTorch. output_grad must be a contiguous tensor"
I have successfully installed the SoftPool in my computer, I have tested your train.py code on Resnet50 and it is normal without errors.
But when I use the softpool2d in my own code , I want to use the softpool on a bs×C×125×160 tensor  to get a bs×C×1×20 tensor, so I set the kernel=(125,8), stride=(125,8)(i.e.,self.pool=SoftPool2d(kernel_size=(125,8),stride=(125,8))).  In backward step, I meet th

[2021-01-17 09:10] caiduoduo12138 opened #17 "How to load your pre-trained model?"
when I load your pre-trained model, it seems to have some error.

"state_dict = load_state_dict_from_url(model_urls[arch], progress=progress)"
"load_state_dict_from_url" does not define.

I download the model resnet-50_best.pth, and load it but error occurs.
Error(s) in loading state_dict for ResNet:
	Missing key(s) in state_dict: "conv1.weight", "bn1.weight", "bn1.bias", "bn1.running_mean", "bn1.

[2021-01-17 10:25] alexandrosstergiou commented on #17
Hi @caiduoduo12138 ,

Guessing that you also got : `Unexpected key(s) in state_dict: "epoch", "arch", "state_dict", "best_acc1", "optimizer".` as the last line in your error. Basically meaning that you should inlude the dictionary key `state_dict` during loading, e.g. :

[code]

Note that all models were trained with ` torch.nn.DataParallel`, meaning that module names include a `module` wrapper. T

[2021-01-17 10:25] #17 closed, assigned to nobody

[2021-01-17 10:33] alexandrosstergiou commented on #16
Hi @bimver ,

This issue is a duplicate of  [`#6`](https://github.com/alexandrosstergiou/SoftPool/issues/6). You are essentially doing an operation, in this case, sometime after `SoftPool`, that changes the storage location for the tensor in memory to a non-sequential one. (Simple solution is to wrap `output_grad` in `torch.contiguous()` and re-build the project, i.e. add:

[code]
In [`CUDA_SOFTPO

[2021-01-17 10:33] #16 closed, assigned to nobody

[2021-01-18 11:37] bimver commented on #16
Thank you very much, now it works. I think adding
@staticmethod
    def backward(ctx, grad_output):
        # Create contiguous tensor (if tensor is not contiguous)
        if (not grad_output.is_contiguous()):
           grad_output= grad_output.contiguous()
in it is useful.

[2021-01-18 11:54] alexandrosstergiou commented on #16
I think it's useful as well. I've included a contiguous check for both forward and backward functions in the latest commit [`041b2ce`](https://github.com/alexandrosstergiou/SoftPool/commit/041b2ce331a15e1b942e1181044c6d2b36408d25).

[2021-01-18 12:36] Jackyinuo opened #18 "Hello,what is this "RuntimeError: output_grad.is_contiguous() INTERNAL ASSERT FAILED "? How can I fix the bug?"
when I input "softpool" in my own CNN, this bug happens

RuntimeError: output_grad.is_contiguous() INTERNAL ASSERT FAILED at "E:\\SoftPool-master\\pytorch\\CUDA\\softpool_cuda.cpp":119, please report a bug to PyTorch. output_grad must be a contiguous tensor

[2021-01-18 13:04] alexandrosstergiou commented on #18
Hi @Jackyinuo ,

This issue is a duplicate of #16. You can either add the code snippet from the comment or re-build the project with the latest commit.

Best,
Alex

[2021-01-18 13:38] cendelian commented on #2
hi I want to use AdaptiveSoftPoolxd but not global average pooling, and I have some error:
**TypeError: 'AdaptiveSoftPoolxd' object is not callable**

the AdaptiveSoftPoolxd is :

[code]

and the SE is ：
[code]

anything is wrong??

why I can't call AdaptiveSoftPoolxd

[2021-01-19 03:49] Jackyinuo commented on #18
HI

when I rebuild the project, I get this warning.
"C:\Users\admin\.conda\envs\pt1\lib\site-packages\torch\utils\cpp_extension.py:274: UserWarning: Error checking compiler version for cl: [WinError 2] 系统找不到指定的文件。
  warnings.warn('Error checking compiler version for {}: {}'.format(compiler, error))",
is  it a matter?

[2021-01-19 03:50] Jackyinuo commented on #18
@alexandrosstergiou HI alexandrosstergiou

when I rebuild the project, I get this warning.
"C:\Users\admin.conda\envs\pt1\lib\site-packages\torch\utils\cpp_extension.py:274: UserWarning: Error checking compiler version for cl: [WinError 2] 系统找不到指定的文件。
warnings.warn('Error checking compiler version for {}: {}'.format(compiler, error))",
is it a matter?

[2021-01-19 05:57] dingguodong-826 opened #19 "make install"
Hello, when I run make install, I get the following error:
![image](https://user-images.githubusercontent.com/57715990/104993717-36568e80-5a5e-11eb-927e-e36daa7eab85.png)
![image](https://user-images.githubusercontent.com/57715990/104993752-43737d80-5a5e-11eb-88d4-3b5775b33c9d.png)
thank you

[2021-01-19 07:57] rumsyx commented on #13
I found the same error here.
My environment info is:
GPU: 2080 Ti
CUDA: 10.0.130
cuDNN: 7.6.0
PyTorch: 1.6.0

Thank you.

[2021-01-19 08:18] alexandrosstergiou commented on #8
Closing due to inactivity. Feel free to open if the issue is still present.

[2021-01-19 08:18] #8 closed, assigned to nobody

[2021-01-19 08:41] alexandrosstergiou commented on #13
Hi @rumsyx,

This sounds like an NVCC/CUDA runtime version mismatch for your system. Check [#62](https://github.com/facebookresearch/detectron2/issues/62#issuecomment-542447753) issue in PyTorch and ensure that your NVCC and CUDA runtime versions are correct.

Best,
Alex

[2021-01-19 08:41] alexandrosstergiou commented on #7
Closing due to inactivity.

[2021-01-19 08:41] #7 closed, assigned to nobody

[2021-01-19 08:45] alexandrosstergiou commented on #19
Hi @dingguodong-826 ,

This is a duplicate of #11 . It is basically based on your PyTorch and CUDA versions. Creating a new environment should fix it.

Best,
Alex

[2021-01-19 08:45] #19 closed, assigned to nobody

[2021-01-19 08:55] alexandrosstergiou commented on #18
I have not tried to install the project on Windows, but from the message, it sounds like your system was not able to find a compiler. Have you installed Visual Studio with "Build Tools for Visual Studio"? If not, do so and try to re-build the project.

Best,
Alex

[2021-01-19 09:05] Jackyinuo commented on #18
@alexandrosstergiou  ok,thanks.  when I build on ubuntu"make instalL", " /bin/sh: 1: :/usr/local/cuda/bin/nvcc: not found"   happens,  I  also try vim ~/.bashrc, but the same happens.
export PATH=/usr/local/cuda/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH=/usr/local/cuda/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}

[2021-01-19 10:15] alexandrosstergiou commented on #18
I assume that you have reloaded your bashrc settings afterward (i.e. `$source ~/.bashrc`)? If so, do you get the nvcc version with `nvcc --version`? In general, I would just suggest re-installing CUDA, CUDA toolkit etc.

[2021-01-19 10:58] Jackyinuo commented on #18
@alexandrosstergiou
l try the steps including "source ~/.bashrc","nvcc --version",and "make instaell", but the problem  happens.
the pytorch and cuda version are 1.7.0, 11.0 respectively.
$ nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Thu_Jun_11_22:26:38_PDT_2020
Cuda compilation tools, release 11.0, V11.0.194
Build cuda_11.0_bu.TC445_37.

[2021-01-19 13:45] alexandrosstergiou commented on #18
I see that you are using anaconda. Did you also install Pytorch from `conda` (i.e. `$ conda install pytorch torchvision torchaudio cudatoolkit=11.0 -c pytorch`)? Because I have also encountered building problems as well recently if cudatoolkit is on a conda environment.

Best,
Alex

[2021-01-20 04:01] Jackyinuo commented on #18
@alexandrosstergiou Hi, alexandrosstergiou. i sure i use the conda to install pytorch etc.  should i install pip install pytorch and cudatoolkit?

[2021-01-20 05:54] Javacr opened #20 "When will the pre-trained inception be provided"
Hi, I find that you didn't release pre-trained inception  model. Do you have any plans to release the model?

[2021-01-20 08:09] carlsummer commented on #13
may by your install more CUDA version.
so
make clean
CUDA_HOME=/mnt/lustre/share/cuda-10.2 make install

[2021-01-20 08:10] carlsummer commented on #13
make clean
CUDA_HOME=/usr/local/cuda-10.2 make install
then can make test

[2021-01-20 12:15] EricHuiK commented on #16
python3.7,pytorch 1.6.0, CUDA 10.2.0
In CUDA_SOFTPOOL2d class.
@staticmethod
    def backward(ctx, grad_output):
        # Create contiguous tensor (if tensor is not contiguous)
        if (not grad_output.is_contiguous()):
            x = grad_output.contiguous()
        grad_output= grad_output.contiguous()

use   python setup.py build install   not  make install  it is useful to me

[2021-01-21 13:00] duanzhiihao commented on #2
@cendelian I guess you forget to inherit torch.nn.Module when defining AdaptiveSoftPoolxd:

`class AdaptiveSoftPoolxd:` should be
[code]

[2021-01-21 18:39] alexandrosstergiou commented on #18
I believe your problem is that you are using the environment version of cudatoolkit rather than the one (if) installed on your computer. If possible, remove cudatoolkit from your conda environment. If you are still having problems you should probably re-do the install procedure for the cuda toolkit [[link]](https://developer.nvidia.com/cuda-downloads), cuDNN [[link]](https://docs.nvidia.com/deeple

[2021-01-22 03:10] cendelian commented on #2
thanks
But I found another error:
**THCudaCheck FAIL file=/pytorch/aten/src/THC/THCCachingHostAllocator.cpp line=278 error=700 : an illegal memory access was encountered**

[code]

[2021-01-22 07:59] Ianwtg opened #21 "Could you please provide the keras implement？"
Hi， thank you for your great work.
Could you please provide the keras implement？

[2021-01-22 08:11] alexandrosstergiou commented on #21
Hi @Ianwtg ,

We have not created a Keras/TensorFlow implementation for the project. You could however implement it with Keras/TensorFlow build-in functions similar to the PyTorch CPU version [seen in lines 207-210](https://github.com/alexandrosstergiou/SoftPool/blob/041b2ce331a15e1b942e1181044c6d2b36408d25/pytorch/SoftPool/idea.py#L207-L210).

Best,
Alex

[2021-01-22 08:11] #21 closed, assigned to nobody

[2021-01-25 06:14] Culturenotes opened #22 "padding?"
have no padding?

[2021-01-25 06:42] alexandrosstergiou commented on #22
Hi @Culturenotes ,

This question was answered in issue [#15](https://github.com/alexandrosstergiou/SoftPool/issues/15#issuecomment-760948820).

Best,
Alex

[2021-01-25 06:42] #22 closed, assigned to nobody

[2021-01-25 15:11] kimo20200 opened #23 "Question for installation"
Hi Alex,

I just got a problem for installation. The error is:  'RuntimeError: Error compiling objects for extension'. I am using pytorch 1,7 and cuda 10.1. I do not know if it is related to my Pytorch or CUDA version. Do you have any advice?

Best wishes,
Qing

[2021-01-26 06:30] XinyingZheng opened #24 "about dim Ceil_Mode =True"
The original pool operation can set the parameter Ceil_Mode =True, then how can the soft pool achieve the same effect, because there is a dimension mismatch problem in my replacement

[2021-01-26 07:54] alexandrosstergiou commented on #23
Hi Qing,

Can you post the entire error message? It would be more helpful for debugging.

Best,
Alex

[2021-01-26 07:59] alexandrosstergiou commented on #24
Hi @XinyingZheng ,

The `ceil_mode` parameter just adds columns on the left and rows on the bottom side of the tensor to make the tensor fit with the parameters given.

You can simply use [`torch.nn.functional.pad`](https://pytorch.org/docs/stable/nn.functional.html#torch.nn.functional.pad) to immitate that in your `def forward(self)` function.

Best,
Alex

[2021-01-26 08:08] XinyingZheng commented on #24
thank you for your reply, i have sloved this problem，best wishes to you！

[2021-01-26 08:26] #24 closed, assigned to nobody

[2021-01-26 08:49] kimo20200 commented on #23
Hi Alex,

Sorry for that, I will attach my error message below. And I used Anaconda. I do not know if it is fine.

Best wishes,
Qing

Error message:

Microsoft Windows [Version 10.0.18363.1316]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\Users\Manticket>cd SoftPool/pytorch

C:\Users\Manticket\SoftPool\pytorch>set CUDA_HOME=/usr/local/cuda

C:\Users\Manticket\SoftPool\pytorch>python se

[2021-01-27 06:52] alexandrosstergiou commented on #23
Hi Qing,

From this line: `D:\DL\lib\site-packages\torch\utils\cpp_extension.py:287: UserWarning: Error checking compiler version for cl: [WinError 2] The system cannot find the file specified`. I am assuming that the problem is with the compiler `cl` not being found by torch for `cpp_extension`. Since I have not tested the install for Windows I can only suggest a couple of things:

- Check your C

[2021-01-27 07:18] kimo20200 commented on #23
Hi Alex,

Thank you for your answer. I will try by myself.

Best wishes,
Qing

[2021-01-28 08:31] alexandrosstergiou commented on #13
Closing due to inactivity. Feel free to open a new issue for future problems with the installation process.

[2021-01-28 08:31] #13 closed, assigned to nobody

[2021-01-31 10:29] 123wk45678 opened #25 "about padding"
i want to add a parameter about "padding",i wonder if it is oK to do that ?

[2021-02-01 14:03] alexandrosstergiou commented on #25
Hi @123wk45678 ,

You can refer to the previous two issues that were about padding [#25](https://github.com/alexandrosstergiou/SoftPool/issues/22) and [#15](https://github.com/alexandrosstergiou/SoftPool/issues/15)

Best,
Alex

[2021-02-01 14:03] #25 closed, assigned to nobody

[2021-02-10 02:03] PolicyWsy opened #26 "Is it possible to use SoftPool on Colab?"
Hi,
I installed the package on Colab with the commands you provide. The installation process seemed successful, but when I tried to import `soft_pool2d`, I got the following error message:

[code]

Is there any way to use SoftPool on Colab? Thanks in advance.

[2021-02-10 07:37] alexandrosstergiou commented on #26
Hi @PolicyWsy,

I have not tried using Colab with this project. However, based on the snippet you should first import `softpool_cuda` and then the PyTorch classes and functions.

Best,
Alex

[2021-02-10 07:40] alexandrosstergiou commented on #23
Will close this for now, but feel free to re-open it if the issue re-occurs.

Best,
Alex

[2021-02-10 07:40] #23 closed, assigned to nobody

[2021-02-10 07:42] alexandrosstergiou commented on #18
Closing dues to inactivity. Feel free to open a new issue if there is a new problem.

Best,
Alex

[2021-02-10 07:42] #18 closed, assigned to nobody

[2021-02-10 07:43] PolicyWsy commented on #26
Hi @alexandrosstergiou,
Thanks for your reply. I tried to import `softpool_cuda` first but ended up with the same error. Anyway, I rewrote softpool by myself and it works well;)

[2021-02-10 07:43] #26 closed, assigned to nobody

[2021-02-23 06:53] hmm0852 opened #27 "RuntimeError: CUDA error: an illegal memory access was encountered"
Traceback (most recent call last):
  File "/media/mm/62f65e0e-b396-44ac-b1aa-b2fb260e70d1/mm/experiment/DE-Resnet18/main.py", line 251, in <module>
    main(args, logger)
  File "/media/mm/62f65e0e-b396-44ac-b1aa-b2fb260e70d1/mm/experiment/DE-Resnet18/main.py", line 171, in main
    train(model, train_loader, optimizer, criterion, epoch, args, logger)
  File "/media/mm/62f65e0e-b396-44ac-b1aa-b2fb

[2021-02-24 14:50] alexandrosstergiou commented on #27
Hi @hmm0852 ,

You can comment out ` saved[-1][torch.isnan(saved[-1])] = 0` as it is mainly used for underflows and may throw an illegal memory access for some drivers.

Best,
Alex

[2021-02-28 04:35] Yee-Master opened #28 "provide ImageNet weight architecture"
provide ImageNet weight only change maxpool to softpool?

have any differnet from torchvision.models?

[2021-02-28 07:22] alexandrosstergiou commented on #28
Hi @Yee-Master ,

The project corresponds to this paper [2101.00440](https://arxiv.org/abs/2101.00440). The downsampling method is tested on the basis of similarity to the original input and possible improvements by pooling layer replacements for image and video recognition.

Best,
Alex

[2021-02-28 07:22] #28 closed, assigned to nobody

[2021-02-28 07:23] alexandrosstergiou commented on #27
Will be closing this due to inactivity. Feel free to open a new issue in case of a different problem.

Best,
Alex

[2021-02-28 07:23] #27 closed, assigned to nobody

[2021-03-05 05:43] yucathy opened #29 "Have you ever implemented your method in efficientnet network?"
Hi, thank you for your great idea. It's very interesting.

Because efficientnet get a lot of great results in Imagenet.
I just want to know have you ever implemented your idea in efficientnet before?
(Because efficientnet get a lot of great results in Imagenet.)

If you had done it before, What's the result?

Thank you again for everything you've done.

[2021-03-05 09:34] alexandrosstergiou commented on #29
Hi @yucathy ,

Thank you for your interest. We have not performed any experiments on architectures such as EfficientNets or MobileNets because, in contrast to other models (ResNets, DenseNets etc.), they do not include pooling layers (only for vectorisation with GlobAvg which is a special case). You could possibly incorporate Softool at the first convolution by also increasing the input size (224

[2021-03-08 01:56] yucathy commented on #29
Hi @alexandrosstergiou ,

It's a nice work and good news for us to try.

Thank you for your response.

[2021-03-19 22:58] hbwslms opened #30 "Failed to install"
Thanks for your work!

There're some errors when installing.

`rm -rf *.egg-info
rm -rf build dist
python setup.py install
running install
running bdist_egg
running egg_info
creating SoftPool.egg-info
writing SoftPool.egg-info/PKG-INFO
writing dependency_links to SoftPool.egg-info/dependency_links.txt
writing top-level names to SoftPool.egg-info/top_level.txt
writing manifest file 'SoftPool.egg-in

[2021-03-22 07:31] alexandrosstergiou commented on #29
Will close this due to inactivity. Feel free to open a new issue for other questions/problems.

Best,
Alex

[2021-03-22 07:31] #29 closed, assigned to nobody

[2021-03-22 07:43] alexandrosstergiou commented on #30
Hi @hbwslms,

The most common cause for such installation errors, based on different tests on different machines, has been a mismatch between `GCC`  and the `CUDA` version.

- If you re-install CUDA from: https://developer.nvidia.com/cuda-toolkit
- Change to gcc >= 9.3
- Re-install pytorch (based on the CUDA version)
- Add to your ~/.bashrc or ~/.zshrc :

[code]
You should be able to install it wi

[2021-03-23 21:17] hbwslms commented on #30
@alexandrosstergiou OK, THX!

[2021-04-01 02:36] JasperKirk opened #31 "gpu and cpu get different result"
Thank you for your excellent work. But I have a question.
I trained the model with GPU, and the SoftPool2d parameter force_inplace was set to the default value False.
But the results I measured using GPU and CPU in the test are different, and the mAP of CPU is much lower than that of GPU. And if I change the **force_inplace=True** in the test, the mAP of the GPU is equal to that of the CPU, which

[2021-04-01 06:45] alexandrosstergiou commented on #31
Hi @JasperKirk ,

So the `soft_pool2d()` function includes two implementations at the moment. The first is the one that uses the class `CUDA_SOFTPOOL2d` and the CUDA code from `softpool_cuda`. The second one is the in-place version based on `avg_pool2d` that can be used for CPU or GPU (if you want to run everything in-place). If you are using `force_inplace=True`, you are essentially using the CPU

[2021-04-01 06:46] alexandrosstergiou commented on #30
Will close this due to inactivity. Feel free to open a new issue if other problems occur.

Best,
Alex

[2021-04-01 06:46] #30 closed, assigned to nobody

[2021-04-01 07:39] JasperKirk commented on #31
Hi,
I use the CUDA function (CUDA_SOFTPOOL2d) to train, the data is PASCAL VOC ,the task is object detection.Due to time constraints, I chose 128 pictures for testing. All settings of the code are the same, the only difference is the use of CPU or GPU，but the margin between the two is too large.
GPU : mAP@0.5=0.918, mAP@0.5:0.95=0.622
CPU : mAP@0.5=0.363, mAP@0.5:0.95=0.091
So, if I use the CUDA f

[2021-04-01 07:54] JasperKirk commented on #31
I did an experiment：
[code]

so x1==x2, but x1 in cpu, x2 in gpu.
the result is y1==y2,but y3 != y4.
![image](https://user-images.githubusercontent.com/32267033/113261457-1404ab00-9302-11eb-91bc-9c6add03ec99.png)
![image](https://user-images.githubusercontent.com/32267033/113261555-2f6fb600-9302-11eb-9054-286c0d488450.png)
![image](https://user-images.githubusercontent.com/32267033/113261667-51693

[2021-04-01 08:26] alexandrosstergiou commented on #31
Since there are differences between the two implementations (see the first comment) I don't think that training with the custom GPU method and testing with the python version is sensible. If you absolutely want to validate your data on the CPU, but also do the training on the GPU, you should set the in-place flag to True `force_inplace=True` for both training and testing. That way both CPU and GPU

[2021-04-01 09:31] JasperKirk commented on #31
I understand what you said, I thought the same way before, so I ran the Python version again, and it seems normal at the moment. At present, maybe this is the only way.
But it seems that  the python implementation is slower than the CUDA custom implementation in GPU（I am not sure）.If this is the case, is it possible to provide a faster version on the GPU?

Finally, thank you very much for your ans

[2021-04-01 10:43] alexandrosstergiou commented on #31
Unfortunately, creating a python version for PyTorch will be bound to use torch's classes and functions (which will be slower than a native CUDA implementation). There is the alternative of using convolutions instead of `avg_pooling` however if again compared to a CUDA-native implementation it will definitely run slower and require more memory.

In any case, I do think the CUDA version makes more

[2021-04-01 11:40] JasperKirk commented on #31
Thank you for your answer, it is very helpful to me.I might choose two models, one using the SoftPool on the GPU, and the other using the normal pooling layer on the CPU.

[2021-04-01 14:54] alexandrosstergiou commented on #31
That should also work. Thanks again for your interest! I'll close this issue for now, feel free to open a new one if there are any other problems.

Best,
Alex

[2021-04-01 14:54] #31 closed, assigned to nobody

[2021-04-09 07:26] cymdhx opened #32 "install"
hello，I am a novice，how to install windows system without make

[2021-04-14 07:51] #32 closed, assigned to nobody

[2021-04-15 02:21] Weiziwei521 opened #33 "识别精度"
在图像识别任务上，把最后分类池化层换为softpool时，识别精度由之前的90%降低到几乎为0，这有可能是什么原因造成的呢？

[2021-04-16 18:35] wlcosta opened #34 "100+ errors detected in the compilation of softpool_cuda_kernel.cu"
Hey. I am getting a few errors during the installation process.
Into the `SoftPool/pytorch` folder, I run `make install` as explained in the README file, and during the process, three errors show up in the console repeatedly:

[code]

And then:

[code]

For quick inspection, here are the lines that are causing the error (at least the first 100 of them). It looks like the issue is with `AT_DISPATCH

[2021-04-19 21:53] andreadps opened #35 "Inconsistent behavior when stride is used"
First of all, great work with SoftPool!

When I was adapting some code to test SoftPool for the first time, I left a `stride=1` on the SoftPool2d constructor and noticed this inconsistent behavior on CPU (PyTorch implementation) vs GPU (CUDA implementation).

The shape of the output is different on the two implementations. With kernel 2 and stride 1 over a 3x3 input, I expected a 2x2 output, but t

[2021-04-20 17:51] MoonGhost96 commented on #35
I has found this problem.How did you solve this problem?

[2021-04-20 17:57] MoonGhost96 commented on #35
I found that all of softpool2d without force_inplace will not change the size of tensor

[2021-04-27 02:14] AAAAAA128 opened #36 "Hello, I find a bug when i use softpool2d."
RuntimeError: input.is_contiguous() INTERNAL ASSERT FAILED at "/export/w/SoftPool/pytorch/CUDA/softpool_cuda.cpp":120, please report a bug to PyTorch. input must be a contiguous tensor

[2021-04-27 06:26] alexandrosstergiou commented on #35
Hi @andreadps,

Thanks for this. The stride calculations should now be updated with the latest commit [70e7b3b](https://github.com/alexandrosstergiou/SoftPool/commit/70e7b3b51640b9abd34103f7b68990c5ef6aa2f8).

Best,
Alex

[2021-04-27 06:26] #35 closed, assigned to nobody

[2021-04-27 06:33] alexandrosstergiou commented on #36
Hi @KeqiWangSXuniversity,

This question has been answered in previous issues #6  and #16.

It just means that the tensor that you're passing as an argument does not occupy a contiguous memory space. You can use `.contiguous()` alongside the function call, although most recent repo versions do internal checks.

Best,
Alex

[2021-04-27 06:33] #36 closed, assigned to nobody

[2021-04-27 06:50] alexandrosstergiou commented on #34
Hi @wlcosta ,

Since you have tried a lot of CUDA and g++ versions together, you should check your CUDA compiler compatibility [this table](https://gist.github.com/ax3l/9489132).

As I cannot reproduce the problem, since it's specific to the compiler that you're using, you can check [this solution](https://devtalk.blender.org/t/wrong-gcc-version-for-cuda-linux-how-to-solve/12773) for resolving iss

[2021-05-06 03:23] MoonGhost96 commented on #33
你重新训练了吗，最近的bug修复了cuda版本的stride问题，cpu版本我试了，好像是有bug

[2021-05-17 16:27] alexandrosstergiou commented on #33
Not sure what "final classification layer" refers to (or if Google Translate does not do your question justice). If it refers to using SoftPool for vectorization, we do not perform any experiments for this.

In the odd case that you're using a GPU-trained model within a CPU environment, you are probably using two different implementations. You can find the differences (and reasons for their differ

[2021-05-17 16:27] #33 closed, assigned to nobody

[2021-05-17 16:30] alexandrosstergiou commented on #34
Closing this issue for now. Will be interested to get updates, in case that you are able to solve the problem, to include them as a possible solution when other people have installation issues.

Best.
Alex

[2021-05-17 16:30] #34 closed, assigned to nobody

[2021-05-18 02:12] MikeShuang96 commented on #20
Hi,I have trouble in "make install". The detail:FAILED: /pytorch/build/temp.linux-x86_64-3.6/CUDA/softpool_cuda_kernel.o
 #pragma omp parallel for if ((end - begin) >= grain_size)
 ^
ninja: build stopped: subcommand failed.
python3.6/subprocess.py", line 438, in run
    output=stdout, stderr=stderr)
subprocess.CalledProcessError: Command '['ninja', '-v']' returned non-zero exit status 1.
RuntimeEr

[2021-05-18 02:14] MikeShuang96 opened #37 "Have some trouble in "make install""
Hi,I have trouble in "make install". The detail:FAILED: /pytorch/build/temp.linux-x86_64-3.6/CUDA/softpool_cuda_kernel.o
#pragma omp parallel for if ((end - begin) >= grain_size)
^
ninja: build stopped: subcommand failed.
python3.6/subprocess.py", line 438, in run
output=stdout, stderr=stderr)
subprocess.CalledProcessError: Command '['ninja', '-v']' returned non-zero exit status 1.
RuntimeError: E

[2021-06-03 06:22] alexandrosstergiou commented on #37
Hi @MikeShuang96,

The `RuntimeError` shows some type of failure during the build. One option is to use a log during the build to get the proper error message.

However, since the error is related to `ninja` another option could also be to try and build the repo without `ninja`. i.e. replace [line 19 in setup.py](https://github.com/alexandrosstergiou/SoftPool/blob/70e7b3b51640b9abd34103f7b68990c5e

[2021-06-17 06:32] #37 closed, assigned to nobody

[2021-08-11 09:07] JonasZero opened #38 "There was an error when I used softpool on the AlexNet during classification task training."
File "/home/csu/anaconda3/envs/wsy/lib/python3.6/site-packages/SoftPool-1.1-py3.6-linux-x86_64.egg/SoftPool/idea.py", line 192, in soft_pool2d
    if torch.isnan(x).any():
RuntimeError: CUDA error: an illegal memory access was encountered
CUDA kernel errors might be asynchronously reported at some other API call,so the stacktrace below might be incorrect.
For debugging consider passing CUDA_LAUNCH

[2021-08-11 09:27] alexandrosstergiou commented on #38
Hi @JonasZero,

Usually, an illegal memory access error would be associated with indexing (i.e trying to access a tensor location that does not exist ). What is your input size when applying SoftPool? Have you made sure that this size can indeed be used with `kerenl_size=3` and `stride=2`?

Best,
Alex

[2021-08-11 11:31] JonasZero commented on #38
Thank you for your reply. The original is “nn.MaxPool2d(kernel_size=3, stride=2)”, I replaced it with "SoftPool2d(kernel_size=3, stride=2)". This is really a strange problem. I have no problem replacing other pooling layers.

[2021-08-11 11:59] alexandrosstergiou commented on #38
You need to ensure that the size of your input is compatible with the kernel and stride sizes that you have used (i.e. 3, 2). The formula is quite simple to figure out: `W - K (+2P) / S`, where `W`: the width or the height dimension, `K`: is the kernel size, `P` is padding, and `S` is the stride. If you are getting a non-integer number you should change the input size.

[2021-08-11 12:17] JonasZero commented on #38
Thank you. I'll check it carefully.

[2021-08-11 12:17] #38 closed, assigned to nobody

[2021-08-11 12:23] JonasZero commented on #38
I set the following parameters to solve the problem:
'force_inplace=True'

[2021-09-14 09:49] Adong-1209 opened #39 "There is a problem with the installation"
I am a rookie. I have the following installation problems when using Windows system
![1](https://user-images.githubusercontent.com/90688177/133235741-231ad1e5-92b1-4ae9-bd47-01a270846308.PNG)

[2021-09-14 15:33] alexandrosstergiou commented on #39
Hi @Adong-1209 ,

From a quick search [[link]](https://github.com/sammchardy/python-binance/issues/148), your problem is related to Microsoft Visual C++. Apart from following the solutions from the issue that I sent you, you can also either:
- install a Linux distro and try installing the project there.
**or**
- use the CPU version of the code without installing the CUDA implementation.

[2021-09-15 07:05] Adong-1209 commented on #39
I tried most of the methods in that link, but I still couldn't solve the problem. What a pity. Even so, thank you for your help.

[2021-09-15 07:44] Adong-1209 commented on #39
I tried for the last time, and this time it worked. I don't know what happened, maybe because I created a new environment or a project interpreter.

[2021-09-15 08:17] alexandrosstergiou commented on #39
The CUDA implementation is essentially an extension (so it needs to be compiled to run alongside PyTorch). By using the python PyTorch-native code, you can run it in both your CPU and GPU(s) with the only trade-off that it will be slower than the CUDA.

So the installation is only if you want to use the CUDA implementation. You can still use the repo without installing it.

Hope the above helped!

[2021-09-15 11:11] Adong-1209 commented on #39
Yes, I do need to use CUDA

[2021-09-15 12:23] alexandrosstergiou commented on #39
You can then either: 1) use the PyTorch-native code of the repo without installing it **OR**  2) try to resolve the compiler error.

Will be closing this issue for now since the simplest solution is to not install the repo and use the pytorch-native implementation. Feel free to open a new issue if other problems occur.

Best,
Alex

[2021-09-15 12:23] #39 closed, assigned to nobody

[2021-09-22 08:06] Adong-1209 opened #40 "A problem I encountered when I was training"
![捕获](https://user-images.githubusercontent.com/90688177/134306213-9a2922c4-9ab7-4b8a-9427-49d0906901b2.PNG)

[2021-10-08 12:07] alexandrosstergiou commented on #40
Hi @Adong-1209,

Are you using the latest pytorch version? Based on [this](https://discuss.pytorch.org/t/cuda-error-an-illegal-instruction-was-encountered/88326) post your error could be related to the pytorch version used to run your code.

You can also use the ```force_inplace``` flag alternatively, if you want a quick fix.

[2021-10-10 14:35] Chaolu1997 opened #41 "A problem of install error"
(base) cx@amax:~/CL/HashNet-master/SoftPool-master/pytorch$ make install
rm -rf *.egg-info
rm -rf build dist
python setup.py install
Traceback (most recent call last):
  File "setup.py", line 2, in <module>
    from torch.utils.cpp_extension import BuildExtension, CUDAExtension
ModuleNotFoundError: No module named 'torch'
Makefile:2: recipe for target 'install' failed
make: *** [install] Error 1
-

[2021-10-11 07:38] alexandrosstergiou commented on #41
Hi @Chaolu1997,

As the error says, you will need to have pytorch installed first before you attempt to build the repo.

[2021-10-11 07:38] #41 closed, assigned to nobody

[2021-10-22 13:11] alexandrosstergiou commented on #40
Closing for now but feel free to re-open a new issue if there are any other problems.

[2021-10-22 13:11] #40 closed, assigned to nobody

[2021-11-19 03:08] xiaoyi-creator opened #42 "sfotpool instead of convolution in YOLO"
I want to use sfotpool instead of convolution in YOLO to complete image downsampling, but I don’t know whether to use 1D, 2D or 3D. Can you give me some suggestions?

[2021-11-19 14:55] alexandrosstergiou commented on #42
Hi @xiaoyi-creator,

If you are using 2D Convolutions I suppose you could `SoftPool2d`. Do note that you will be basically just downsampling if you do that, so you might want to still use 2D Convolutions but also maintain the spatial dimension. You could then use SoftPool to spatially downsample them. This way you can still have a learnable part in your downsampling.

There are many options ofc si

[2021-11-19 14:55] #42 closed, assigned to nobody

[2021-12-15 11:55] Chenchenwenyu opened #43 "softpool_cuda.forward_2d(input.contiguous(), kernel, stride, output)"
Hi,thanks for your great idea!

I have a question in " softpool_cuda.forward_2d(input.contiguous(), kernel, stride, output) "，I just don't know what this line of code means ？What do you want to do with this line of code？

[code]
Looking forward to your reply,thanks!

[2021-12-15 13:24] alexandrosstergiou commented on #43
Hi @ChennolongerCai ,

The line is a call to the C++ extension from `pytorch/CUDA/softpool_cuda.cpp`: https://github.com/alexandrosstergiou/SoftPool/blob/2d2ec6dca10b7683ffd41061a27910d67816bfa5/pytorch/CUDA/softpool_cuda.cpp#L206
This basically binds the C++ `softpool2d_forward_cuda` function to Python and makes it callable (from the Python script).

If you want to delve deeper, you can also have

[2021-12-15 13:24] #43 closed, assigned to nobody

[2022-02-21 14:46] PJPomPom opened #44 "About padding"
Excuse me, I am a frashman,
I find that "softpool" no padding, and when i do softpool, it is wrong, can you explain it?
Sorry about my ENG! Hope you can understand my means ^-^ Thank you!

[2022-02-22 09:49] alexandrosstergiou commented on #44
Hi @PJPomPom,

You can have a look at issue #15

[2022-02-22 09:49] #44 closed, assigned to nobody

[2022-04-02 06:59] MaxShi007 opened #45 "A Problem : CUDA/limits.cuh(119): error: identifier "inf" is undefined"
hi, I have some trouble when i install softpool. The detail is that im follow "Installation" and use "make install",then im encountered the mistake:

(mos3d) root@LUCAS-DEV-01a694:~/MotionSeg3D/SoftPool/pytorch# make install
rm -rf *.egg-info
rm -rf build dist
python setup.py install
running install
/usr/local/envs/mos3d/lib/python3.7/site-packages/setuptools/command/install.py:37: SetuptoolsDepre

[2022-04-02 08:18] MaxShi007 commented on #45
The problem was solved by install pytorch==1.7

[2022-04-02 08:18] #45 closed, assigned to nobody

[2022-04-20 06:44] ahmedeqbal opened #46 "softpool_cuda issue !"
Hello,

i was remain unsuccessful to install via following commonds:

[code]

So, i have created and directly call **SoftPool.py** file. and it works fine. However, by commenting `softpool_cuda.forward_2d(input.contiguous(), kernel, stride, output)`

Because this library not properly installed, so i am unable to "**import softpool_cuda**", is there any trick to directly call these CUDA, and .cpp f

[2022-04-20 09:22] alexandrosstergiou commented on #46
Hi @ahmedeqbal ,

You can use the pythonic implementation of softpool with `force_inplace=True` when calling a function or creating a class object (and removing the import statements/code to the CUDA and C++ wrapper(s)). Alternatively, you can have a look at [this pytorch post](https://pytorch.org/tutorials/advanced/cpp_extension.html) and tailor the code accordingly.

[2022-04-22 01:59] git-luo66 opened #47 "pytorch inplace operation issue"
hello
This is my mistake!
RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation: [torch.cuda.FloatTensor [1, 256, 40, 40]], which is output 0 of ReluBackward0, is at version 1; expected version 0 instead. Hint: enable anomaly detection to find the operation that failed to compute its gradient, with torch.autograd.set_detect_anomaly(True).

The

[2022-04-22 08:18] #46 closed, assigned to nobody

[2022-04-22 09:37] alexandrosstergiou commented on #47
Hi @git-luo66 ,

Judging from the line of code you have highlighted, you are using the CUDA implementation of the code and not the inplace version. Assuming this, the error relates to an operation that happens after SoftPool. I would suggest to check that you are not using Relu with `inplace=True`.  Another easy solution is to create a deep copy of the input before/after applying SoftPool.

[2022-04-27 09:22] #47 closed, assigned to nobody

[2022-05-05 13:35] Yancccccc opened #48 "How to install softpool in windows10"

[2022-05-09 07:09] icvplayer opened #49 "padding"
Hi, how to solve the image padding operation?

[2022-05-09 09:54] alexandrosstergiou commented on #49
Hi @icvplayer ,

You can see issue #15 for more info on padding.

[2022-05-09 09:54] #49 closed, assigned to nobody

[2022-05-09 13:51] icvplayer opened #50 "CUDA error"
Hi, If I set force_inplace to False, CUDA will report an error:
RuntimeError: CUDA error: an illegal memory access was encountered.
cudaCheckError() failed : an illegal memory access was encountered.
Could you tell me why please?

[2022-05-10 11:48] alexandrosstergiou commented on #48
Hi @Yancccccc ,

Unfortunately, I don't have any previous experience with building repos on Windows.

[2022-07-06 00:53] zhangxue2115 opened #51 "about result picture"

[2022-07-06 00:58] zhangxue2115 commented on #51
I want to get a result picture after softpooling to compare with other method,how can I do ?

[2022-07-06 12:12] alexandrosstergiou commented on #51
Hi @zhangxue2115 ,

You can convert your images to a pytorch tensor and then use the corresponding `soft_pool2d()` function

[2022-07-06 12:12] #51 closed, assigned to nobody

[2022-07-06 12:15] alexandrosstergiou commented on #50
Hi @icvplayer ,

This is likely due to your tensor not being contiguous in memory (of the gradients of it). You can wrap the function call around `contiguous()` calls.

[2022-07-06 12:16] #48 closed, assigned to nobody

[2022-07-07 02:05] zhangxue2115 commented on #51
I am very happy to receive your reply, but I still have some questions. After my picture is converted into a pytorch tensor, torch Size =([3, 1080, 1920]), when I use soft_ Pool2d, it will report a mistake at`x = F.avg_pool2d(x.mul(e_x), kernel_size, stride=stride).mul_(sum(kernel_size)).div_(F.avg_pool2d(e_x, kernel_size, stride=stride).mul_(sum(kernel_size)))`,showing"Given` input size: (3x1x192

[2022-07-07 09:40] alexandrosstergiou commented on #51
As the error states, your tensor is of size `3x1x1920`, so you should check the size of the tensor that you are using as an argument. Also, you should include a batch dimension.
This works fine for example:
[code]

[2022-07-07 12:33] zhangxue2115 commented on #51
Your reply is very helpful to me.Thank you for your patience.

[2022-07-09 00:54] wxh1402714457 opened #52 "cuda"
RuntimeError: CUDA error: an illegal memory access was encountered.
could you give me detailed solution？

[2022-07-09 17:56] #50 closed, assigned to nobody

[2022-07-09 17:58] alexandrosstergiou commented on #52
Hi @wxh1402714457

You can have a look at #50 .

[2022-07-09 17:58] #52 closed, assigned to nobody

[2022-09-07 07:48] MaxChanger commented on #12
Hi, @alexandrosstergiou, I would like to know if this bug has been fixed or any progress? I'm also using softpool in a project and I don't have this problem, but other people have this problem with my project https://github.com/haomo-ai/MotionSeg3D/issues/6

[2022-09-07 11:06] alexandrosstergiou commented on #12
Hi @MaxChanger. Most `NaN`value-problems in fwd/bwd calls have been fixed after `torch` 1.6 where `torch.amp` was integrated alongside its decorators for custom functions. After  [commit f49fd84](https://github.com/alexandrosstergiou/SoftPool/commit/f49fd84fe3208a3eaeb201a318df7007d4598b60), I had stable runs on both full and mixed precision settings over different GPUs, environments, and configur

[2022-09-07 11:23] MaxChanger commented on #12
Hi @alexandrosstergiou. Thank you for your kind reply. I have conducted nearly a hundred experiments on 4~5 different GPU servers, and I have not found this issue (`nan`) too. Thus, I thought your project was robust enough.
After your confirmation, I am more at ease, and I will also cooperate with other people to confirm this issue.

[2022-09-26 08:08] moshicaixi opened #53 "about kernel_size problem"
For 2d-pool, the kernel height and kernel width must be equal? Can i use the kernel like (1,2) shape? Thx for your help!

![image](https://user-images.githubusercontent.com/63298919/192225708-2f8e028b-7e28-4efc-8291-b5ce134cf6e2.png)

[2022-09-29 11:46] alexandrosstergiou commented on #53
Hi @moshicaixi ,

The current implementation does require equal kernel height/width. However, I have not tried to remove the constraint and use uneven sizes. If you do decide to test it and it does work, do let me know.

[2022-10-04 11:55] alexandrosstergiou commented on #53
I'll close the issue for now but feel free to post updates.

[2022-10-04 11:55] #53 closed, assigned to nobody

[2022-10-19 04:44] raozhongyu opened #54 "install error"
Thanks for your brilliant work!
After i run make install, i got this
ImportError: /home/envs/lib/python3.9/site-packages/torch/lib/libtorch_cpu.so: invalid ELF header.
How can i solve this.

[2022-10-19 04:49] LiXiang0021 opened #55 "Install error"
Thanks your great work!
Errors occur when i make install, error report like this

ImportError: /home/envs/lib/python3.9/site-packages/torch/lib/libtorch_cpu.so: invalid ELF header.

And, i used python3.9 pytorch 1.12 with cuda 11.3.

[2022-10-20 08:36] LiXiang0021 commented on #55
Oh, I have solved this problem by using a lower PyTorch version 1.10.

[2022-10-20 11:04] alexandrosstergiou commented on #54
Hi @raozhongyu ,

From a [quick search](https://support.contrastsecurity.com/hc/en-us/articles/360025177492-Invalid-ELF-Header) and from #55 , this seems to be due to compiling and running modules across different OS-es.

[2022-10-20 11:04] alexandrosstergiou commented on #55
Great, I'll close the issue then.

[2022-10-20 11:04] #55 closed, assigned to nobody